# SQLAlchemy

- Set up the model in data.model
- Create the database using alembcic
- Connect using SQLAlchemy

In [1]:
from data.data import Session, path, engine
from pathlib import Path
import zipfile
import pandas as pd

from sqlalchemy import select

from data.model import Shape

In [2]:
FILENAME_SCHEDULE = 'gtfs.zip'
zip_path = Path(path / FILENAME_SCHEDULE)

In [3]:
with zipfile.ZipFile(zip_path) as z:
   with z.open("shapes.txt") as f:
      shapes = pd.read_csv(f)
      shapes.columns = [
         c.replace('shape_', '').replace('pt_', '') for c in shapes.columns
      ]
      display(shapes.head())

    id        lat         lon  sequence  dist_traveled
0  177 -33.418715  151.341307         1              0
1  177 -33.418708  151.341302         2              9
2  177 -33.418686  151.341128         3             25
3  177 -33.418567  151.340324         4            101
4  177 -33.418519  151.339836         5            147

In [4]:
shapes.to_sql("shapes", engine, if_exists="append", index=False)

5397080

In [8]:
with Session() as session:
    statement = select(Shape).limit(5)
    shapes = session.execute(statement).scalars().all()

In [9]:
shapes

[Shape(id=177, lat=-33.4187155, lon=151.3413069, sequence=1, dist_traveled=0),
 Shape(id=177, lat=-33.4187082, lon=151.3413018, sequence=2, dist_traveled=9),
 Shape(id=177, lat=-33.4186861, lon=151.341128, sequence=3, dist_traveled=25),
 Shape(id=177, lat=-33.4185671, lon=151.3403237, sequence=4, dist_traveled=101),
 Shape(id=177, lat=-33.4185191, lon=151.3398364, sequence=5, dist_traveled=147)]

In [10]:
shapes[0].lat

-33.4187155